/* CSS Reset */

body,
ul,
h1,
h3,
p {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

a {
	color: #fff;
	text-decoration: none;
}

img {
	vertical-align: bottom;
}

body {
	background-color: #64727f;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.wrapper {
	padding: 0 30px;
	margin: 0 auto;
	position: relative;
	max-width: 1220px;
}

/* header */

.header {
	background-color: #c9e5ff;
}

.header .wrapper .logo {
	display: inline-block;
	background-image: url(images/logo.png);
	width: 280px;
	height: 50px;
	text-indent: -9999px;
	margin: 20px 0;
}

.header .wrapper .gnb {
	background-color: #505c66;
	overflow: hidden;
}

.header .wrapper .gnb li {
	float: left;
}

.header .wrapper .gnb li a {
	padding: 0 20px;
	display: block;
	height: 50px;
	line-height: 50px;
}

.header .wrapper .gnb li a:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.header .wrapper .up {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 50;
}

/* contents */

.contents {
	background-color: #282e33;
	margin-bottom: 50px;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
}

.contents li {
	width: 20%;
	display: flex;
}

.contents li .inner {
	text-align: center;
	margin: 10px;
	background-color: black;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.contents li img {
	width: 100%;
}

.contents li .inner h3 {
	color: #77aaff;
	font-size: 20px;
	padding: 15px 10px 0 10px;
}

.contents li .inner p {
	color: #999;
	padding: 20px;
	font-size: 12px;
}

.contents li .inner p:after {
	content: "";
	display: block;
	height: 50px;
	background-image: url(images/sprite-btn.png);
	width: 152px;
	margin: 10px auto 0;
}

/* footer */

.footer {
	background-color: #282e33;
	padding: 40px 0;
	color: #999;
	border-top: 1px solid white;
	font-size: 14px;
	margin-top: auto;
}

/* 반응형 태블릿 */

@media (max-width:1024px) {
	.contents li {
		width: 33.3334%;
	}
}

/* 반응형 모바일 */

@media (max-width:768px) {
	.header {
		text-align: center;
	}

	.header .wrapper .gnb li {
		width: 20%;
	}

	.header .wrapper .up {
		display: none;
	}

	.contents li {
		width: 50%;
	}

	.footer {
		text-align: center;
	}
}

/* 반응형 모바일? */

@media (max-width:500px) {
	.wrapper {
		padding: 0;
	}

	.contents {
		padding: 0;
	}

	.contents li {
		width: 100%;
	}

	.contents li .inner {
		margin: 0;
	}
}
