body,
h1,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body {
  background-color: black;
  color: gray;
  font-family: arial;
}

a {
  text-decoration: none;
  color: gray;
}


#section {
	width: 960px;
	margin: 0 auto;
}


.header .logo {
	display: inline-block;
	font-size: 60px;
	font-weight: 700;
	border-bottom: 5px solid gray;
	margin: 20px 0;
}

.wrapper {

}

.wrapper .food_wrapper {
	display: flex;
}

.wrapper .food_wrapper li {
	position: relative;
	width: 33.3334%;
	height: 500px;
	opacity: 0.5;
	/* display: flex;
	align-items: flex-end; */
	background-position: center;
	transition: all 1s;
}

.wrapper .food_wrapper li.cookie {
	background-image: url(images/bg-cookie.png);
} 

.wrapper .food_wrapper li.cake {
	background-image: url(images/bg-cake.png);
} 

.wrapper .food_wrapper li.crepe {
	background-image: url(images/bg-crepe.png);
} 

.wrapper .food_wrapper li .food_wrap {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: black;
	opacity: 0.8;
	margin: 20px;
	padding: 15px;
	border-radius: 15px;
	overflow: hidden;
}

.wrapper .food_wrapper li .food_wrap h3 {
	margin-bottom: 15px;
}

.wrapper .food_wrapper li .food_wrap p {
	width: 400px;
}

.wrapper .food_wrapper:hover li {
	width: 25%;
}

.wrapper .food_wrapper li:hover {
	width: 50%;
	opacity: 1;
}

.wrapper .food_wrapper li:hover .food_wrap {
	color: white;
}

.wrapper .food_wrapper li:hover .food_wrap h3 {
	color: orange;
}